# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.TeppichsBehaviorTree.iml
# Datasource local storage ignored files
/../../../../../../:\GitRepos\TeppichsBehaviorTree\.idea\.idea.TeppichsBehaviorTree.dir\.idea/dataSources/
/dataSources.local.xml
